In [1]:
# setup directory
import os
os.chdir(r"/Users/basabdasgupta/Documents/IBNET Complete Data/Data and Dofiles")
!pip install missingpy
!pip install miceforest
!pip install fancyimpute

Requirement already satisfied: missingpy in /Users/basabdasgupta/opt/anaconda3/lib/python3.9/site-packages (0.2.0)
Requirement already satisfied: miceforest in /Users/basabdasgupta/opt/anaconda3/lib/python3.9/site-packages (5.5.4)
Requirement already satisfied: blosc in /Users/basabdasgupta/opt/anaconda3/lib/python3.9/site-packages (from miceforest) (1.10.6)
Requirement already satisfied: lightgbm>=3.3.1 in /Users/basabdasgupta/opt/anaconda3/lib/python3.9/site-packages (from miceforest) (3.3.2)
Requirement already satisfied: numpy in /Users/basabdasgupta/opt/anaconda3/lib/python3.9/site-packages (from miceforest) (1.20.3)
Requirement already satisfied: dill in /Users/basabdasgupta/opt/anaconda3/lib/python3.9/site-packages (from miceforest) (0.3.5.1)
Requirement already satisfied: scikit-learn!=0.22.0 in /Users/basabdasgupta/opt/anaconda3/lib/python3.9/site-packages (from lightgbm>=3.3.1->miceforest) (0.24.2)
Requirement already satisfied: wheel in /Users/basabdasgupta/opt/anaconda3/lib/python3.9/site-packages (from lightgbm>=3.3.1->miceforest) (0.37.0)
Requirement already satisfied: scipy in /Users/basabdasgupta/opt/anaconda3/lib/python3.9/site-packages (from lightgbm>=3.3.1->miceforest) (1.7.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/basabdasgupta/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn!=0.22.0->lightgbm>=3.3.1->miceforest) (2.2.0)
Requirement already satisfied: joblib>=0.11 in /Users/basabdasgupta/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn!=0.22.0->lightgbm>=3.3.1->miceforest) (1.1.0)
Requirement already satisfied: fancyimpute in /Users/basabdasgupta/opt/anaconda3/lib/python3.9/site-packages (0.7.0)
Requirement already satisfied: nose in /Users/basabdasgupta/opt/anaconda3/lib/python3.9/site-packages (from fancyimpute) (1.3.7)
Requirement already satisfied: pytest in /Users/basabdasgupta/opt/anaconda3/lib/python3.9/site-packages (from fancyimpute) (6.2.4)
Requirement already satisfied: scikit-learn>=0.24.2 in /Users/basabdasgupta/opt/anaconda3/lib/python3.9/site-packages (from fancyimpute) (0.24.2)
Requirement already satisfied: cvxpy in /Users/basabdasgupta/opt/anaconda3/lib/python3.9/site-packages (from fancyimpute) (1.2.1)
Requirement already satisfied: cvxopt in /Users/basabdasgupta/opt/anaconda3/lib/python3.9/site-packages (from fancyimpute) (1.3.0)
Requirement already satisfied: knnimpute>=0.1.0 in /Users/basabdasgupta/opt/anaconda3/lib/python3.9/site-packages (from fancyimpute) (0.1.0)
Requirement already satisfied: six in /Users/basabdasgupta/opt/anaconda3/lib/python3.9/site-packages (from knnimpute>=0.1.0->fancyimpute) (1.16.0)
Requirement already satisfied: numpy>=1.10 in /Users/basabdasgupta/opt/anaconda3/lib/python3.9/site-packages (from knnimpute>=0.1.0->fancyimpute) (1.20.3)
Requirement already satisfied: scipy>=0.19.1 in /Users/basabdasgupta/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn>=0.24.2->fancyimpute) (1.7.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/basabdasgupta/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn>=0.24.2->fancyimpute) (2.2.0)
Requirement already satisfied: joblib>=0.11 in /Users/basabdasgupta/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn>=0.24.2->fancyimpute) (1.1.0)
Requirement already satisfied: osqp>=0.4.1 in /Users/basabdasgupta/opt/anaconda3/lib/python3.9/site-packages (from cvxpy->fancyimpute) (0.6.2.post5)
Requirement already satisfied: ecos>=2 in /Users/basabdasgupta/opt/anaconda3/lib/python3.9/site-packages (from cvxpy->fancyimpute) (2.0.10)
Requirement already satisfied: scs>=1.1.6 in /Users/basabdasgupta/opt/anaconda3/lib/python3.9/site-packages (from cvxpy->fancyimpute) (3.2.0)
Requirement already satisfied: qdldl in /Users/basabdasgupta/opt/anaconda3/lib/python3.9/site-packages (from osqp>=0.4.1->cvxpy->fancyimpute) (0.1.5.post2)
Requirement already satisfied: attrs>=19.2.0 in /Users/basabdasgupta/opt/anaconda3/lib/python3.9/site-packages (from pytest->fancyimpute) (21.2.0)
Requirement already satisfied: iniconfig in /Users/basabdasgupta/opt/anaconda3/lib/python3.9/site-packages (from pytest->fancyimpute) (1.1.1)
Requirement already satisfied: packaging in /Users/basabdasgupta/opt/anaconda3/lib/python3.9/site-packages (from pytest->fancyimpute) (21.0)
Requirement already satisfied: pluggy<1.0.0a1,>=0.12 in /Users/basabdasgupta/opt/anaconda3/lib/python3.9/site-packages (from pytest->fancyimpute) (0.13.1)
Requirement already satisfied: py>=1.8.2 in /Users/basabdasgupta/opt/anaconda3/lib/python3.9/site-packages (from pytest->fancyimpute) (1.10.0)
Requirement already satisfied: toml in /Users/basabdasgupta/opt/anaconda3/lib/python3.9/site-packages (from pytest->fancyimpute) (0.10.2)
Requirement already satisfied: pyparsing>=2.0.2 in /Users/basabdasgupta/opt/anaconda3/lib/python3.9/site-packages (from packaging->pytest->fancyimpute) (3.0.4)

In [2]:
#import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#import miceforest as mf
import random
import sklearn.neighbors._base 
import sys
sys.modules['sklearn.neighbors.base'] = sklearn.neighbors._base
from missingpy import MissForest
from sklearn.impute import KNNImputer

In [3]:
df = pd.read_stata("IBNET3a4py.dta")
df.head(17).T

/Users/basabdasgupta/opt/anaconda3/lib/python3.9/site-packages/pandas/io/stata.py:1457: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  warnings.warn(msg, UnicodeWarning)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
Year,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
Country,Nigeria,Nigeria,Nigeria,Nigeria,Nigeria,Nigeria,Nigeria,Nigeria,Nigeria,Nigeria,Nigeria,Nigeria,Nigeria,Nigeria,Nigeria,Nigeria,Nigeria
Utility,"ANSWC, Anambra State","ANSWC, Anambra State","ANSWC, Anambra State","ANSWC, Anambra State","ANSWC, Anambra State","ANSWC, Anambra State","ANSWC, Anambra State","ANSWC, Anambra State","ANSWC, Anambra State","ANSWC, Anambra State","ANSWC, Anambra State","ANSWC, Anambra State","ANSWC, Anambra State","ANSWC, Anambra State","ANSWC, Anambra State","ANSWC, Anambra State","ANSWC, Anambra State"
s1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10903571891.51,12688285795.280001,12878693120.0,8968556112.0,8499324986.0,8361211442.0,7924090298.0,9001438995.0,10281438995.0,9767367045.0
s2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ldc8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.156761,15.046653,14.900848,14.703666,14.647338,14.545135,14.353192,14.274866,14.166092,14.010443
dc9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5856100.0,3011979.25,2657781.25,2199636.5,1952204.625,1774174.875,1449137.375,1271255.0,1208355.0,1050505.125
ldc9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.582994,14.918108,14.793002,14.603803,14.484469,14.388846,14.186479,14.055515,14.00477,13.864781
s6_decile,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
ID1,20043.0,20053.0,20063.0,20073.0,20083.0,20093.0,20103.0,20113.0,20123.0,20133.0,20143.0,20153.0,20163.0,20173.0,20183.0,20193.0,20203.0

In [4]:
df.isna().mean()

Year         0.000000
Country      0.000000
Utility      0.000000
s1           0.736969
s2           0.887509
               ...
ldc8         0.537541
dc9          0.434233
ldc9         0.438184
s6_decile    0.000000
ID1          0.000000
Length: 67, dtype: float64

In [5]:
 df.isnull().sum() * 100 / len(df)

Year          0.000000
Country       0.000000
Utility       0.000000
s1           73.696888
s2           88.750894
               ...
ldc8         53.754093
dc9          43.423281
ldc9         43.818449
s6_decile     0.000000
ID1           0.000000
Length: 67, dtype: float64

In [6]:
df.to_stata('original-k.dta')

# Missing forest

In [7]:

#df1 = df.loc[:, [ 's1', 's2', 's3', 's4', 's5', 's6', 's7', 's8', 'y1', 'y2', 'y3', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 't1']]
df1 = df.loc[:, ['ID','ID1','Year','dc3', 'dc4','dc5','dc7', 'dc8', 'dc9', 'y1', 'y2', 'y3','s1',  's3', 's4', 's5', 's6','s6_decile', 's8','t1','t2','t3','t4','t5']]
dt1 = df.copy() #created a copy
df1.head(17).T

#Note: with ID1, t1 is missing for some ID1. so we will do it separately.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
ID,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
ID1,20043.0,20053.0,20063.0,20073.0,20083.0,20093.0,20103.0,2.011300e+04,2.012300e+04,2.013300e+04,2.014300e+04,2.015300e+04,2.016300e+04,2.017300e+04,2.018300e+04,2.019300e+04,2.020300e+04
Year,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2.011000e+03,2.012000e+03,2.013000e+03,2.014000e+03,2.015000e+03,2.016000e+03,2.017000e+03,2.018000e+03,2.019000e+03,2.020000e+03
dc3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.508293e+05,1.290321e+05,1.625652e+05,1.515279e+05,2.538336e+05,1.150696e+05,1.542663e+05,1.486260e+05,1.275358e+05,1.108376e+05
dc4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.814292e+06,2.841287e+05,1.400921e+05,6.047659e+04,7.005927e+04,9.228848e+04,1.086297e+05,1.367438e+05,6.472301e+04,4.444552e+04
dc5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.899926e+04,1.951891e+04,NaN,NaN,9.386689e+03,NaN,NaN
dc7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.039423e+07,3.425140e+06,2.960438e+06,2.430640e+06,2.297513e+06,2.074300e+06,1.712033e+06,1.583053e+06,1.419893e+06,1.215229e+06
dc8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.039423e+07,3.425140e+06,2.960438e+06,2.430640e+06,2.297513e+06,2.074300e+06,1.712033e+06,1.583053e+06,1.419893e+06,1.215229e+06
dc9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.856100e+06,3.011979e+06,2.657781e+06,2.199636e+06,1.952205e+06,1.774175e+06,1.449137e+06,1.271255e+06,1.208355e+06,1.050505e+06
y1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.081000e+06,5.425845e+06,4.980542e+06,4.245063e+06,2.075018e+06,2.206345e+06,2.395682e+06,2.067748e+06,2.000629e+06,1.997003e+06
y2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.820661e+08,1.078858e+08,1.210646e+08,1.002488e+08,2.161274e+07,1.857944e+07,2.438860e+07,5.172180e+07,7.169879e+07,4.998853e+07
y3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.820661e+08,1.078858e+08,1.210646e+08,1.002488e+08,2.161274e+07,1.857944e+07,2.438860e+07,5.172180e+07,7.169879e+07,5.898853e+07
s1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.090357e+10,1.268829e+10,1.287869e+10,8.968556e+09,8.499325e+09,8.361211e+09,7.924090e+09,9.001439e+09,1.028144e+10,9.767367e+09
s3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.500000e+05,7.687500e+05,7.918130e+05,7.920640e+05,7.920640e+05,7.920640e+05,8.089980e+05,8.094400e+05,8.253200e+05,8.380830e+05
s4,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00
s5,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
s6,301784.0,301784.0,301784.0,301784.0,301784.0,301784.0,301784.0,3.017840e+05,2.968800e+05,3.899760e+05,3.872840e+05,3.872840e+05,2.481150e+05,2.524220e+05,2.403260e+05,2.603080e+05,2.590040e+05
s6_decile,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.000000e+00,3.000000e+00,3.000000e+00,3.000000e+00,3.000000e+00,3.000000e+00,3.000000e+00,3.000000e+00,3.000000e+00,3.000000e+00
s8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.321700e+02,9.450000e+02,1.015000e+03,1.010000e+03,1.010000e+03,1.005000e+03,1.002000e+03,1.002000e+03,1.001000e+03,9.980000e+02
t1,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.000000e+00,3.000000e+00,3.000000e+00,3.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,3.000000e+00,3.000000e+00,3.000000e+00
t2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
t3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
t4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
t5,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

In [8]:
df1.isnull().sum() * 100 / len(df)

ID            0.000000
ID1           0.000000
Year          0.000000
dc3          46.317414
dc4          44.544804
dc5          53.814309
dc7          42.764668
dc8          52.542245
dc9          43.423281
y1           41.774867
y2           42.971661
y3           48.225509
s1           73.696888
s3           41.763577
s4            0.639795
s5           52.847089
s6            0.000000
s6_decile     0.000000
s8           44.292650
t1           74.920026
t2           75.687780
t3           81.062060
t4           92.834293
t5           74.920026
dtype: float64

In [9]:
for idx in df1["ID1"].unique():
        imputer = MissForest(max_iter=15, n_jobs=-1)
        x_imp = imputer.fit_transform(df1[df1.ID1 == idx])
        df1.loc[df1.ID1 == idx, :] = x_imp

Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 0
Iteration: 1
Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 0
Iteration: 1
Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 0
Iteration: 1
Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 4
Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 4
Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 4
Iteration: 5
Iteration: 6
Iteration: 7
Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 4
Iteration: 5
Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 4
Iteration: 5
Iteration: 6
Iteration: 7
Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 4
Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 4
Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 0
Iteration: 1
Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 0
Iteration: 1
Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 4
Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3

In [10]:
df1.isna().sum()

ID           0
ID1          0
Year         0
dc3          0
dc4          0
dc5          0
dc7          0
dc8          0
dc9          0
y1           0
y2           0
y3           0
s1           0
s3           0
s4           0
s5           0
s6           0
s6_decile    0
s8           0
t1           0
t2           0
t3           0
t4           0
t5           0
dtype: int64

In [11]:
df1.to_stata('dforest-k.dta')

# Knn Imputation

In [12]:
#from sklearn.preprocessing import MinMaxScaler
#scaler = MinMaxScaler()
#df2 = df.loc[:, ['ID','Year','c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 't1','s1',  's3', 's4', 's5', 's6', 's7', 's8', 'y1', 'y2', 'y3']]
#df2 = pd.DataFrame(scaler.fit_transform(df2), columns = df2.columns)
#df.head()

In [13]:


df2 = df.loc[:, ['ID','ID1','Year','dc3', 'dc4','dc5','dc7', 'dc8', 'dc9', 'y1', 'y2', 'y3','s1',  's3', 's4', 's5', 's6','s6_decile', 's8','t1','t2','t3','t4','t5']]
dt2 = df.copy() #created a copy
from sklearn.impute import KNNImputer
for idx in df2["ID1"].unique():
        imputer = KNNImputer(n_neighbors=5) 
        knn_imp = imputer.fit_transform(df2[df2.ID1 == idx])
        df2.loc[df2.ID1 == idx, :] = knn_imp

#KNNImputed = pd.DataFrame(knn_imp, columns = df2.columns).round(1)

In [14]:
df2.isna().sum()

ID           0
ID1          0
Year         0
dc3          0
dc4          0
dc5          0
dc7          0
dc8          0
dc9          0
y1           0
y2           0
y3           0
s1           0
s3           0
s4           0
s5           0
s6           0
s6_decile    0
s8           0
t1           0
t2           0
t3           0
t4           0
t5           0
dtype: int64

In [15]:
# Convert into stata data set
df2.to_stata('dKNN-k.dta')

# MICE imputer

In [16]:
# filling the missing value with mice imputer
from fancyimpute import IterativeImputer
mice_imputer = IterativeImputer(missing_values=np.nan, sample_posterior=False, 
                                max_iter=100, tol=0.001, random_state=0,
                                n_nearest_features=30, initial_strategy='mean')

df3 = df.loc[:, ['ID','ID1','Year','dc3', 'dc4','dc5','dc7', 'dc8', 'dc9',  'y1', 'y2', 'y3','s1',  's3', 's4', 's5', 's6','s6_decile', 's8','t1','t2','t3','t4','t5']]
#dt1 = df1.copy() #created a copy
for idx in df3["ID1"].unique():
   
        mice_imp = mice_imputer.fit_transform(df3[df3.ID1 == idx])
        df3.loc[df3.ID1 == idx, :] = mice_imp


#MICE_imputed = mice_imputer.fit_transform(df1)
#MICE_imputed = pd.DataFrame(mice_imp, columns = df3.columns).round(1)

/Users/basabdasgupta/opt/anaconda3/lib/python3.9/site-packages/sklearn/impute/_iterative.py:685: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn("[IterativeImputer] Early stopping criterion not"
/Users/basabdasgupta/opt/anaconda3/lib/python3.9/site-packages/sklearn/impute/_iterative.py:685: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn("[IterativeImputer] Early stopping criterion not"
/Users/basabdasgupta/opt/anaconda3/lib/python3.9/site-packages/sklearn/impute/_iterative.py:685: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn("[IterativeImputer] Early stopping criterion not"
/Users/basabdasgupta/opt/anaconda3/lib/python3.9/site-packages/sklearn/impute/_iterative.py:685: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn("[IterativeImputer] Early stopping criterion not"
/Users/basabdasgupta/opt/anaconda3/lib/python3.9/site-packages/sklearn/impute/_iterative.py:685: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn("[IterativeImputer] Early stopping criterion not"
/Users/basabdasgupta/opt/anaconda3/lib/python3.9/site-packages/sklearn/impute/_iterative.py:685: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn("[IterativeImputer] Early stopping criterion not"

In [17]:
df3.isna().sum()

ID           0
ID1          0
Year         0
dc3          0
dc4          0
dc5          0
dc7          0
dc8          0
dc9          0
y1           0
y2           0
y3           0
s1           0
s3           0
s4           0
s5           0
s6           0
s6_decile    0
s8           0
t1           0
t2           0
t3           0
t4           0
t5           0
dtype: int64

In [18]:
df3.to_stata('dmice-k.dta')

Note: Data processing ends here. Rest of the processing such as merging etc is done in stata 
(File name:"/Users/basabdasgupta/Documents/IBNET Complete Data/Data and Dofiles"\merged_imputedfiles1Aug2022.do)

Basab Dasgupta. Original-As of Aug05, 2022. Revised-1: Aug20, 2022
Revised: Last update Sept 16,2022